<h1>Relief Packs List</h1>
	<!-------------------------------- BODY CONTENT --------------------------------- -->	
			<div class="container">
			<div class="row">
				<div class="col-md-12 column">
					<!-- will be used to show any messages -->
									
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								Relief Item Details
							</h3>
						</div>
						<div class="panel-body">
						
						
							<!-- End Form-->
								<div class="row">
									<div class="col-md-12 column">
										<a href="#/relief_packs/new" class='btn btn-success' >New Relief Pack</a>
									<br>
									<br>
									<div class="panel panel-primary">
										<div class="panel-heading">
											<h3 class="panel-title">
												Record List
											</h3>
										</div>
										<div class="panel-body">
											<table id='awer' class='table table-stripped display'>
												<thead>
													<tr>
														<th>
															Name
														</th>
														<th>
															Actions
														</th>
													</tr>
												</thead>
													<tbody>
																												<tr>
															<td>     e</td>
															<!-- edit this nerd (uses the edit method found at GET /nerds/{id}/edit -->
															<td>
																<a class="btn btn-small btn-info" ng-click="editRecord(93)">Edit Record</a>
																<a class="btn btn-small btn-success" href="" ng-click="addReliefItem(93)">Add Relief Item</a>
															</td>
														</tr>
																											</tbody>
												<tfoot>
												</tfoot>
											</table>
										</div><!-- panel body -->
										<div class="panel-footer">
											
										</div><!--- DTP -->
									</div><!-- End Panel ---> 
										</div>
									</div><!---- New Row --->
						</div>
						<div class="panel-footer">
							Panel Footer
						</div><!--- DTP -->
						</div>
				</div> <!--- Col 8 -->
				
				
				</div> <!--- New Row --- -->	
					
					
				</div>
			
       
			<!-------------------------------- END BODY CONTENT ------------------------------ -->
