<h1>Relief Packs New</h1>
<!-------------------------------- BODY CONTENT --------------------------------- -->	
			<div class="container">
			<div class="row">
				<div class="col-md-12 column">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								New Relief Pack Details
							</h3>
						</div>
						<div class="panel-body">
							
							<!-- Start Form - -->
							<form method="POST" action="http://localhost:8080/newrds/RDS/public/relief_pack" accept-charset="UTF-8"><input name="_token" type="hidden" value="0NirIDlWMPZHamd4XoeIc0VJ5d7HLRKi9dgiK5KZ">
							
							<div class="col-md-4 column">	
								<div class="form-group">
									<label for="pack_name">Pack Name</label>
									<input class="form-control" id="pack_name" name="pack_name" type="text">
								</div>
							</div>
							
							
							<br><br><br><br> 
									<input class="btn btn-primary" type="submit" value="Save Record!">
						</form>
							<!-- End Form-->
						</div>	 <!-- Panel Body End -->
						
						
						<div class="panel-footer">
							Panel Footer
						</div><!--- DTP -->
						</div>
				</div> <!--- Col 8 -->
				
				
				</div> <!--- New Row --- -->	
					
					
				</div>
			
       
			<!-------------------------------- END BODY CONTENT ------------------------------ -->
