<h1>{{title}}</h1>
<div class="container">
			<div class="row">
				<div class="col-md-12 column">
					<!-- will be used to show any messages -->
										
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								Relief Operation Details
								
							</h3>
						</div>
						<div class="panel-body">
						
						
							<!-- End Form-->
							
				
								<div class="row">
									<div class="col-md-12 column">
										<a href="#/relief_operations/new" class='btn btn-success' >New Relief Operation</a>
									<br>
									<br>
									<div class="panel panel-primary">
										<div class="panel-heading">
											<h3 class="panel-title">
												Record List
											</h3>
										</div>
										<div class="panel-body">
											<table id='awer' class='table table-stripped display'>
												<thead>
													<tr>
														<th>
															Name
														</th>
														<th>
															Category
														</th>
														<th>
															Disaster Name
														</th>
														<th>
															Disaster Type
														</th>
														<th>
															Date Start
														</th>
														<th>
															Date End
														</th>
														<th>
															Actions
														</th>
													</tr>
												</thead>
													<tbody>
																												<tr>
															<td>Haiyan</td>
															<td>1</td>
															<td>Yolanda</td>
															<td>2</td>
															<td>2014-08-11</td>
															<td>2014-08-11</td>
															<!-- edit this nerd (uses the edit method found at GET /nerds/{id}/edit -->
															<td>
																<a class="btn btn-small btn-info" href="#/relief_operations/edit/1">Edit Record</a>
																<a class="btn btn-small btn-success" href="#/assesstment/99">Add Assesstment</a>
															</td>
														</tr>
																												<tr>
															<td>test</td>
															<td>2</td>
															<td>Test 2</td>
															<td>3</td>
															<td>2014-08-11</td>
															<td>2014-08-15</td>
															<!-- edit this nerd (uses the edit method found at GET /nerds/{id}/edit -->
															<td>
																<a class="btn btn-small btn-info" href="http://localhost:8080/newrds/RDS/public/relief_operation/2/edit">Edit Record</a>
																<a class="btn btn-small btn-success" href="http://localhost:8080/newrds/RDS/public/relief_operation/assesstment/2/add">Add Assesstment</a>
															</td>
														</tr>
																											</tbody>
												<tfoot>
												</tfoot>
											</table>
										</div><!-- panel body -->
										<div class="panel-footer">
											
										</div><!--- DTP -->
									</div><!-- End Panel ---> 
										</div>
									</div><!---- New Row --->
						
						
						</div>
						<div class="panel-footer">
							Panel Footer
						</div><!--- DTP -->
						</div>
				</div> <!--- Col 8 -->
				
				
				</div> <!--- New Row --- -->	
					
					
				</div>
