<h1>Survey Questions List - SurveyID {{surveyID}}</h1>

<div class="container">
			<div class="row">
				<div class="col-md-12 column">
					<!-- will be used to show any messages -->
										
					
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								Survey Details -- 1 
								<br>
								Glenda Survey
							</h3>
						</div>
						<div class="panel-body">
							<a href="" ng-click="newQuestion()" class='btn btn-success' >Add Survey Details</a>
							<br><br>
						<div class='panel panel-primary'>
						   
							<div class='panel-body'>
							<table id='rOperation' class='table table-stripped display'>
							 <thead>
							  <tr>
							  <th>
								 Survey Content Description
							  </th>
							  <th>
								 Action
							  </th>
							  </tr>
							 </thead>
								 <tbody>
																												<tr>
															<td>Pregnant Women</td>
															<td>
																<a class="btn btn-small btn-info" href="" ng-click="editQuestion(69)">Edit Question</a>
																<a class="btn btn-small btn-danger" href="" ng-click="deleteQuestion(69)">Delete Question</a>
															</td>
														</tr>
														
																						 </tbody>
							</table>
							</div>
						  </div>
						
						
						<!-- End Form-->
													
						
						
						</div>
						<div class="panel-footer">
							Panel Footer
						</div><!--- DTP -->
						</div>
				</div> <!--- Col 8 -->
				
				
				</div> <!--- New Row --- -->	
				</div>
			
       
			<!-------------------------------- END BODY CONTENT ------------------------------ -->
