<h2>New Survey</h2>
<div class="container">
				<div class="row">
						 <div class='col-md-12 column'>
						  <div class='panel panel-primary'>
						   <div class='panel-heading'>
							<h5>Survey</h5>
						   </div>
							<div class='panel-body'>
							<div class='well'>
							
							<!-- Start Form - -->
							<form method="POST" action="http://localhost:8080/newrds/RDS/public/relief_survey" accept-charset="UTF-8"><input name="_token" type="hidden" value="kn3hVLHssuDuHpZ0J9c37oxdbDGKFZesev8lHECW">
							<div class="col-md-4 column">	
								<div class="form-group">
									<label for="survey_name">Survey Name</label>
									<input class="form-control" id="survey_name" name="survey_name" type="text">
								</div>
							</div>
								
							<div class='col-md-4 column'>
									 <div class='form-group'>
										<label for="relief_operation">Relief Operation</label>
										<select class="form-control  chosen-select" id="relief_operation" name="relief_operation"><option value="1">Haiyan</option><option value="2">test</option><option value="3">test</option><option value="4">The Oplan LaquiMe</option><option value="5">TestDatass</option><option value="6">Glenda</option><option value="7">TestTing Grounds</option><option value="8">Glenda Response</option><option value="9">ArvEn</option><option value="10">ARvin</option><option value="11">ARvin</option><option value="12">ARvins</option><option value="13">Yulanda</option><option value="14">RO</option><option value="15">Haiyan Response</option></select>
									 </div>
							</div>
							<div class='form-group'>
									<input class="btn btn-primary" type="submit" value="Save Record!">
							</div>
							</form> 
							
							</div>
							</div>
						  </div>
						 </div>
					
				</div>	<!-- Row --->
			</div>
