<h1>Survey Questions EDIT - SurveyID {{surveyID}} - Question ID{{questionID}}</h1>
<!-------------------------------- BODY CONTENT --------------------------------- -->	
			<div class="container">
				<div class="row">
						 <div class='col-md-12 column'>
						  <div class='panel panel-primary'>
						   <div class='panel-heading'>
							<h5>Survey</h5>
						   </div>
							<div class='panel-body'>
							<div class='well'>
							
							<!-- Start Form --->
							<form method="POST" action="http://localhost:8080/newrds/RDS/public/relief_survey/details/1/add" accept-charset="UTF-8"><input name="_token" type="hidden" value="kn3hVLHssuDuHpZ0J9c37oxdbDGKFZesev8lHECW">
							<div class="col-md-4 column">	
								<div class="form-group">
									<label for="description">Survey Description</label>
									<input class="form-control" id="description" name="description" type="text">
								</div>
							</div>
							<div class='form-group'>
									<input class="btn btn-primary" type="submit" value="Save Record!">
							</div>
							</form> 
							
							</div>
							</div>
						  </div>
						 </div>
					
				</div>	<!-- Row --->
			</div>
			<!-------------------------------- END BODY CONTENT ------------------------------ -->
